@import 'variables';

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  color: $dark-color;
  line-height: 1.4;
  font-family: $font-stack;
}

/*Header*/
header {
  background-color: $dark-color;
  color: $light-color;
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

/*Section*/
.section {
  padding: 3rem;
  h3 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    margin-bottom: 1rem;
  }

  /* section-a*/
  &-a {
    background-color: $primary-color;
    color: $light-color;
    
  }
  /*section-b*/
  &-b {
    background-color: $secondary-color;
    color: $light-color;

  }
}

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: $dark-color;
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: $light-color;
  }


}