@import 'variables';
@import 'functions';

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  color: text-color($light-color);
  line-height: 1.4;
  font-family: $font-stack;
}

/*Header*/
header {
  background-color: $dark-color;
  color: text-color($dark-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

/*Section*/
.section {
  padding: 3rem;
  h3 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    margin-bottom: 1rem;
  }

  /* section-a*/
  &-a {
    background-color: $primary-color;
    color: text-color($primary-color);

  }
  /*section-b*/
  &-b {
    background-color: $secondary-color;
    color: text-color($secondary-color);

  }
}

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  
  transition: all 0.4s ease;

  &:hover {
    @include transform(translateY(-3px));
  }

  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: text-color($light-color);

    &:hover {
      background-color: darken($light-color, 30%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: text-color($dark-color);

    &:hover {
      background-color: lightness($dark-color, 30%);
    }
  }
}