 #navbar .logo {
   float: none;
   text-align: center; 
 }

 #navbar ul,
 #navbar ul li {
   float: none;
 }

 #navbar ul li a {
   padding: 5px;
   border-bottom: #444 dotted 1px;
 }

 /* Home Info */
#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content{
  float: none;
  width: 100%;
}

/* Showcase */
#showvase {
  height: 100%;
}
#showcase .showcase-content{
  padding-top: 70px;
  padding-bottom: 30px;
}


/* Features */
.box {
  float: none;
  width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-left {
  margin-bottom: 20px;
}

.l-heading {
  text-align: center;
}

/* Contact */
#contact-info .box {
  border-bottom: #444 1px solid;
}
