/* Reset */
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto',sans-serif;
  line-height: 1.4;
 }

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Html */
html {
  scroll-behavior: smooth;
}

/* Container */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Utility Classes */
.text-primary {
  color: #93cb52;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-primary {
  background-color: #93cb52;
  color: #fff;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background-color: #93cb52;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section ::What We Do:: */
#section-what-we-do .items {
  display: flex;
  padding: 1em;
}

#section-what-we-do .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#section-what-we-do .items .item i {
  background-color: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section ::Who We Are:: */
#section-who-we-are {
  display: flex;
}

#section-who-we-are div {
  flex: 1;
}

#section-who-we-are .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

#section-who-we-are .who-text .list {
  margin: 0.5rem 0 ;
  list-style: none;
}

#section-who-we-are .who-text .list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #444;
}

/* Section ::Clients:: */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Section ::Contact:: */
#section-contact {
  display: flex;
}

#section-contact .contact-form,
#section-contact .map
{
  flex: 1;
}

#section-contact .contact-form .form-group {
  margin: 0.75rem;
}

#section-contact .contact-form label {
  display: block;
}

#section-contact .contact-form  input,
#section-contact .contact-form  textarea {
  width: 100%;
  padding: 0.5rem;
}
