* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

#clock {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#color {
    font-size: 3rem;
    text-align: center;
}