.header {
    //  open styles
    &-open{
        .overlay {
            display: block !important;
        }

        .header-toggle {
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .overlay{
        visibility: hidden;
        opacity: 0;
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
        top: 0px;
        background: linear-gradient($darkBlue, transparent);
    }


    nav{
        position: relative;
        background-color: $white;
        padding: 1.0625rem 1.5rem;
    }

    &-logo{
        width: 8.8125rem;
        height: 1.325rem;
    }

    &-toggle {
        > span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 250ms ease-in;
            transform-origin: 2.5px 1px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }

    }

    &-hamburger-menu {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 25%;
        background-color: $white;
        padding: 1.625rem;
        margin-top: 1.5rem;
        background: $white;
        border-radius: 5px;
        a{  
            display: block;
            color: $darkBlue;
            padding: 0.625rem;
            text-align: center;
        }
    }


    &-links {
       a {
           position: relative;
           font-size: $font-sm;
           color: $grayishBlue;
           transition: color 250ms ease-in;

           &:not(:last-child){
               margin-right: 2rem;
           }

           &::before{
            content: "";
            display: block;
            position: absolute;
            height: 5px;
            left: 0;
            right: 0;
            bottom: -15px;
            border-radius: 2px;
            background: linear-gradient(to right,$limeGreen, $brightCyan);
            opacity: 0;
            transition: opacity 250ms ease-in;
            }

           &:hover{
                color: $darkBlue;
                
                &::before{
                    opacity: 1;
                }                
           }
       }
    }
    &-button {
        font-size: $font-sm;
        color: $white;
        transition: opacity 250ms ease-in;
        &:hover{
            opacity: 0.80;
        }
    }
}